<!-- {{form.get('email')?.errors | json}} -->
<mat-card class="card-decoration">
    <div *ngIf="(responseData$ | async) as user; else loading"> 
        <!-- else loading" -->
        <form [formGroup]="form" class="example-form" (ngSubmit)="updateProfile()">

        <app-input-element
                [context]="form"
                  [model]="nameModel"
                  [value]="user.name">
        </app-input-element>

        <app-select-drop-down 
                [context]="form" 
                  [model]="genderModel"
                  [value]="user.gender">
        </app-select-drop-down>

        <app-iput-date-picker 
               [context]="form"
                 [model]="bornModel"
                 [value]="user.born">
        </app-iput-date-picker>

        <app-autocomplete 
              [context]="form" 
                [model]="countryCodeModel"
                [value]="user.dialCode">
        </app-autocomplete>

        <app-input-element
                [context]="form"
                  [model]="phoneModel"
                  [value]="user.phone">
        </app-input-element>

        <mat-card-actions class="form-input-container">
            <button mat-raised-button color="primary" [disabled]="form.invalid">
                Submit
            </button>
        </mat-card-actions>
        </form>       
    </div>
    <ng-template #loading>
      <h3>Loading...</h3>
  </ng-template>
</mat-card>