<!-- {{form.valid | json}}
<br>
{{ form.get('repeatPass')?.errors | json}} -->
<mat-card class="card-decoration">
    
    <h3>LogIn form!</h3>

    <form [formGroup]="form" class="example-form" (ngSubmit)="signIn()">
        
        <app-input-element
                [context]="form"
                  [model]="emailModel">
        </app-input-element>

        <app-input-element
                [context]="form"
                  [model]="passwordModel">
        </app-input-element>
        
        <mat-card-actions class="form-input-container">
            <button mat-raised-button 
                color="primary" 
                [disabled]="form.invalid">Submit
            </button>
        </mat-card-actions>

    </form>

    <p>Not have an account? <a mat-button (click)="goTo()">Register here</a></p>
</mat-card>