<!-- {{ form.get(imgModel.elementName)?.value | json}} -->
<mat-card class="card-decoration">

    <div *ngIf="(responseData$ | async) as user; else loading">

        <mat-card-header class="header">
            <figure class="image-container">
                <div>
                    <img [src]="avatarCases(user.avatar)" width="120" height="120" id="avatar" >
                </div>
                <div class="row">
                    <div class="column">
                        <button mat-button class="menu-button" routerLink="/user/{{user._id}}/edit">
                            Edit
                            <mat-icon class="example-icon blue" aria-label="Example icon-button with menu icon">
                                edit
                            </mat-icon>
                        </button>
                    </div>
                    <div class="column">

                        <form [formGroup]="form" class="example-form">

                            <ng-container *ngIf="uploadVisibility; else uploadButton;">

                                <button mat-button class="menu-button green" [disabled]="form.invalid"
                                    (click)="updateProfile()">
                                    update
                                </button>

                                <button mat-button class="menu-button red" (click)="cancel()">
                                    <mat-icon class="example-icon" aria-label="Example icon-button with menu icon">
                                        cancel
                                    </mat-icon>
                                </button>
                            </ng-container>

                            <ng-template #uploadButton>

                                <app-img-upload [context]="form" [model]="FormModels['ImgModel']"
                                    (image)="onImageSelected($event)">
                                </app-img-upload>

                                <button mat-button class="menu-button" (click)="upload()">
                                    Upload
                                    <mat-icon class="example-icon blue" aria-label="Example icon-button with menu icon">
                                        upload
                                    </mat-icon>
                                </button>

                            </ng-template>

                        </form>
                    </div>
                </div>
            </figure>
            <div class="header-user-decoration">
                <h1>{{user.name}}</h1>
            </div>
        </mat-card-header>

        <mat-card-content>
            <section class="profile-details">
                <h3>Basic information:</h3>
                    <p>
                        <b>gender:</b> {{user.gender}}
                    </p>
                    <p>
                        <b>born:</b> {{user.born | date}}
                    </p>
                    <p>
                        <b>email:</b> {{user.email}}
                    </p>
                    <p>
                        <b>phone:</b> {{user.dialCode}} {{user.phone}}
                    </p>
            </section>
            <section class="profile-details">
                <h3>Offers information:</h3>
                <p>
                    <b>Post offers:</b> {{user?.createdOffers?.length || 'Not post offers yet!'}}
                </p>
                <p>
                    <b>Watching offers:</b> {{user?.watchOfferList?.length || 'Not watching offers yet!'}}
                </p>
            </section>

            <section *ngIf="user?.createdOffers?.length !== 0">
                <header>
                    <h3 class="text-center">
                        Your post offers.
                    </h3>
                </header>
                
                <article id="user-offers" >                   
                    <div *ngFor="let offer of user?.createdOffers" class="offer">
                        <app-offer-template
                            [offer]="offer">                    
                        </app-offer-template>
                    </div>
                </article>
            </section>


            <section *ngIf="user?.watchOfferList?.length !== 0">
                <header>
                    <h3 class="text-center">
                        Watching offers.
                    </h3>
                </header>
                <article id="watched-offers" >                
                    <div *ngFor="let offer of user?.watchOfferList" class="offer">
                        <app-offer-template
                            [offer]="offer">                    
                        </app-offer-template>
                    </div>
                </article>
           </section>

        </mat-card-content>
    </div>

    <ng-template #loading>
        <h3>Loading...</h3>
    </ng-template>
</mat-card>