.example-full-width {
  width: 100%;
}

.card-decoration {
  margin: auto;
  overflow: hidden;
}

.header{
  display: block;
  //background: linear-gradient(95deg, white 50%, #9E9E9E 50%);
  margin: 0;
  border-bottom: 3px solid #9E9E9E;
}

.image-container {
  display: block;
}

#avatar {
  display: block;
  margin: auto;
  padding: 5px;
  border: 2px solid #9E9E9E;
  border-radius: 50%;
}

.example-icon {
  font-size: large;
}

.profile-details {
  display: block;
  position: relative;
  width: calc(50% - 0.24em);
  float: left;
}

.title {
  border: 1px solid;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.green{
  color: green;
}

.red{
  color: red;
}