<!-- {{ form.valid | json}} -->
<mat-card class="card-decoration">

    <div *ngIf="(responseData$ | async) as user; else loading">

        <mat-card-header class="header">
            <figure class="image-container">
                <img ngSrc="{{user.avatar || 
                    'https://res.cloudinary.com/duyubdgsj/image/upload/v1669408328/assets/146-1468479_my-profile-icon-blank-profile-picture-circle-hd_qsgtou.png'}}"
                    width="120" height="120" id="avatar" *ngIf="uploadVisibility; else uploadImageView">
                <ng-template #uploadImageView>
                    <img [src]="uploadImage" width="120" height="120" id="avatar" />
                </ng-template>

                <div class="row">
                    <div class="column">
                        <button mat-button class="menu-button" routerLink="/user/{{user._id}}/edit">
                            Edit
                            <mat-icon class="example-icon" aria-label="Example icon-button with menu icon">
                                edit
                            </mat-icon>
                        </button>
                    </div>
                    <div class="column">
                        <form [formGroup]="form" 
                              class="example-form" 
                              (ngSubmit)="updateProfile()">
                            <ng-container *ngIf="uploadVisibility; else updateButton">
                            <app-img-upload
                                [context]="form"
                                [model]="imgModel"
                                (image)="onImageSelected($event)">                              
                            </app-img-upload>
                                <button mat-button class="menu-button" (click)="upload()">
                                    upload
                                    <mat-icon class="example-icon" aria-label="Example icon-button with menu icon">
                                        upload
                                    </mat-icon>
                                </button>
                            </ng-container>
                            <ng-template #updateButton>
                                <button mat-button class="menu-button green">
                                    update
                                    <mat-icon class="example-icon" aria-label="Example icon-button with menu icon">
                                        update
                                    </mat-icon>
                                </button>
                                <button mat-button class="menu-button red" (click)="cancel()">
                                    <mat-icon class="example-icon" aria-label="Example icon-button with menu icon">
                                        cancel
                                    </mat-icon>
                                </button>
                            </ng-template>
                        </form>
                    </div>
                </div>
            </figure>
            <div>
                <h1>{{user.name}}</h1>
            </div>
        </mat-card-header>

        <mat-card-content>
            <section class="profile-details">
                <h3>Basic information:</h3>
                <p>gender: {{user.gender}}</p>
                <p>born: {{user.born | date}}</p>
                <p>email: {{user.email}}</p>
                <p>phone: {{user.dialCode}} {{user.phone}}</p>
            </section>
            <section class="profile-details">
                <h3>posts: {{user.posts.length || 'Not posts yet!'}}</h3>
            </section>
        </mat-card-content>
    </div>

    <ng-template #loading>
        <h3>Loading...</h3>
    </ng-template>
</mat-card>