<!-- {{ form.get(imgModel.elementName)?.value | json}} -->
<mat-card class="card-decoration">

    <div *ngIf="(responseData$ | async) as user; else loading">

        <mat-card-header class="header">
            <figure class="image-container">
                <div>
                    <img [src]="avatarCases(user.avatar)" width="120" height="120" id="avatar" >
                </div>
                <div class="row">
                    <div class="column">
                        <button mat-button class="menu-button" routerLink="/user/{{user._id}}/edit">
                            Edit
                            <mat-icon class="example-icon" aria-label="Example icon-button with menu icon">
                                edit
                            </mat-icon>
                        </button>
                    </div>
                    <div class="column">

                        <form [formGroup]="form" class="example-form">

                            <ng-container *ngIf="uploadVisibility; else uploadButton;">

                                <button mat-button class="menu-button green" [disabled]="form.invalid"
                                    (click)="updateProfile()">
                                    update
                                </button>

                                <button mat-button class="menu-button red" (click)="cancel()">
                                    <mat-icon class="example-icon" aria-label="Example icon-button with menu icon">
                                        cancel
                                    </mat-icon>
                                </button>
                            </ng-container>

                            <ng-template #uploadButton>

                                <app-img-upload [context]="form" [model]="FormModels['ImgModel']"
                                    (image)="onImageSelected($event)">
                                </app-img-upload>

                                <button mat-button class="menu-button" (click)="upload()">
                                    upload
                                    <mat-icon class="example-icon" aria-label="Example icon-button with menu icon">
                                        upload
                                    </mat-icon>
                                </button>

                            </ng-template>

                        </form>
                    </div>
                </div>
            </figure>
            <div>
                <h1>{{user.name}}</h1>
            </div>
        </mat-card-header>

        <mat-card-content>
            <section class="profile-details">
                <h3>Basic information:</h3>
                <p>gender: {{user.gender}}</p>
                <p>born: {{user.born | date}}</p>
                <p>email: {{user.email}}</p>
                <p>phone: {{user.dialCode}} {{user.phone}}</p>
            </section>
            <section class="profile-details">
                <h3>post offers: {{user?.createdOffers?.length || 'Not post offers yet!'}}</h3>
                <h3>watched offers: {{user?.watchOfferList?.length || 'Not watched offers yet!'}}</h3>
            </section>

            <section id="user-offers" *ngIf="user?.createdOffers?.length !== 0">
                <header>
                    <h3 class="text-center">
                        Your post offers.
                    </h3>
                </header>
                <div *ngFor="let offer of user?.createdOffers">
                    <app-offer-template
                        [offer]="offer">                    
                    </app-offer-template>
                </div>
            </section>

            <section id="watched-offers" *ngIf="user?.watchOfferList?.length !== 0">
                <header>
                    <h3 class="text-center">
                        Your watch offers list.
                    </h3>
                </header>
                <div *ngFor="let offer of user?.watchOfferList">
                    <app-offer-template
                        [offer]="offer">                    
                    </app-offer-template>
                </div>
            </section>

        </mat-card-content>
    </div>

    <ng-template #loading>
        <h3>Loading...</h3>
    </ng-template>
</mat-card>