.example-full-width {
  width: 100%;
}

.card-decoration {
  margin: auto;
  overflow: hidden;
}

.header{
  display: block;
  margin: 0;
  border-bottom: 3px solid #9E9E9E;
}

.image-container {
  display: block;
}

#avatar {
  display: block;
  margin: auto;
  padding: 5px;
  border: 2px solid #9E9E9E;
  border-radius: 50%;
}

.example-icon {
  font-size: large;
}

mat-card-content{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.profile-details {
  flex: 50%;
}

.title {
  border: 1px solid;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.green{
  color: green;
}

.red{
  color: red;
}

.blue{
  color: #3949AB;
}

.header-user-decoration{
  background-color: #3949AB;
  padding: 0 5px;
  color: white;
  height: 40px;
  border-bottom: 1px solid white;
  h3{
    vertical-align: middle;
  }
}

header{
  width: 100%;
}
.text-center{
  text-align: center;
}

#user-offers{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

#watched-offers{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}