<mat-card class="card-decoration">
    <div *ngIf="(responseData$ | async) as user"> 
        <!-- else loading" -->
        <form [formGroup]="form" class="example-form" (ngSubmit)="updateProfile()">

        <app-input-element
            [contextName]="form"
             [inputModel]="nameModel"
             [inputValue]="user.name"
            [inputErrors]="nameModel.errors">
        </app-input-element>

        <app-select-drop-down 
         [selectDropDown]="form" 
               [elements]="genderValues"
                   [name]="name">
        </app-select-drop-down>

        <app-input-country-code 
       [inputCountryCode]="form" 
       [countryCodeValue]="user.dialCode">
        </app-input-country-code>

        <app-input-element
            [contextName]="form"
             [inputModel]="phoneModel"
             [inputValue]="user.phone"
            [inputErrors]="phoneModel.errors">
        </app-input-element>

        <mat-card-actions class="form-input-container">
            <button mat-raised-button color="primary" [disabled]="form.invalid">
                Submit
            </button>
        </mat-card-actions>

        </form>
        <ng-template #loading>
            <h3>Loading...</h3>
        </ng-template>
    </div>
</mat-card>