<mat-card class="card-decoration">
    <div *ngIf="(responseData$ | async) as user"> 
        <!-- else loading" -->
        <form [formGroup]="form" class="example-form" (ngSubmit)="updateProfile()">

            <app-input-name 
                [inputName]="form" 
                [nameValue]="user.name">
            </app-input-name>

            <app-select-drop-down 
                [selectDropDown]="form" 
                [elements]="genderValues"
                [name]="name">
            </app-select-drop-down>

            <app-input-country-code [inputCountryCode]="form" 
                [countryCodeValue]="user.dialCode">
            </app-input-country-code>

            <app-input-phone [inputPhone]="form" 
                [phoneValue]="user.phone">
            </app-input-phone>

            <mat-card-actions class="form-input-container">
                <button mat-raised-button color="primary" [disabled]="form.invalid">
                    Submit
                </button>
            </mat-card-actions>

        </form>
        <ng-template #loading>
            <h3>Loading...</h3>
        </ng-template>
    </div>
</mat-card>