<mat-card class="card-decoration">
    <ng-container *ngIf="( offerDetails$ | async) as offer; else loading">

        <article class="offer-container" >

            <div class="col">                
                <header class="header">
                    <h3>{{offer.title}}</h3>
                 </header>
     
                <figure class="image-container">
                    <img src="{{offer.image}}" width="300" height="300">
                </figure>     
            </div>
           
            <div class="col">
                <p>
                    <strong>Description:</strong>
                </p>
                <p>
                    {{offer.description}}
                </p> 
                <span class="verticle-spacer"></span>
                <p>
                    <strong>Offer duration:</strong>
                </p>
                <p>
                    from {{offer.fromDate | date}} - 
                    until {{offer.untilDate | date }}
                </p>
                <span class="verticle-spacer"></span>
                <p>
                    <strong>Contatc info:</strong>
                </p>
                <p>
                    {{ offer.contactInfo }}
                </p> 
                <span class="verticle-spacer"></span>
                <p class="text-align-right">
                    Price <b>{{offer.price | currency }}</b> 
                </p>

                <p class="text-align-right">
                    <i>Created {{offer.createdAt | date}}, 
                        from {{ offer.creator.name }}
                    </i>
                </p>
                                
                <ng-container *ngIf="curentUser?.id == offer?.creator?._id; else isNotOwner">
                    <button mat-button 
                         routerLink="/offers/{{offer._id}}/edit" 
                        class="color-yellow">
                        Edit
                    </button>
                    &nbsp;
                    <button mat-button 
                        (click)="deleteOffer(offer._id, offer.title)" 
                        class="color-red">
                        Delete
                    </button>
                </ng-container> 

                <ng-template #isNotOwner>
                    <ng-container *ngIf="isUser">
                        <ng-container *ngIf="!isInWatchList; else unwatch">                   
                            <button mat-button                             
                                (click)="addToWatchList(offer._id)" 
                                class="color-yellow">
                                    Add to watch List
                            </button>
                        </ng-container>
    
                        <ng-template #unwatch>
                            <button mat-button                             
                                (click)="removeFromWatchList(offer._id)" 
                                class="color-red">
                                    Remove from Watch List
                            </button>
                        </ng-template>
                    </ng-container>
                </ng-template>               
            </div>           
       </article> 
    </ng-container>

    <ng-template #loading>
        <h3>Loading...</h3>
    </ng-template>
    
</mat-card>