.sidenav-container {
  background-color: #EEEEEE;
  top: 56px;
  min-height: calc(100vh - 56px);
  display: flex;
  flex-direction: column;
}

.sidenav {
  min-height: calc(100vh - 56px);
  top: 56px;
  min-width: 350px;
  position: fixed;
  z-index: 10;
  overflow: auto; 
}

#content{
  min-height: calc(100vh - 122px);
  padding: 5px;
}