<ng-container [formGroup]="txtArea">
    <mat-form-field  class="example-full-width">
        <textarea 
            matInput
            formControlName="description" 
            class="example-full-width">
        </textarea>      
    </mat-form-field>
   
    <mat-error class="example-full-width" *ngIf="txtArea.get('description')?.errors 
            && txtArea.get('description')?.touched">
        <mat-error *ngIf="txtArea.get('description')?.errors?.['pattern']">
            Special characters <strong>{{symbols}} are not allowed!</strong>
        </mat-error>   
    </mat-error>
   
  </ng-container>
