.menu-button {
    font-size: 1rem;
    color: #424242;
}

.avatar {
    display: block;
    margin: auto;
    width: 120px;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid #C5CAE9;
  }
  .avatar:hover {
    box-shadow: 0 0 2px 1px #424242;
  }

  .image-container{
    width: 100%;
    padding: 10px 0 60px 0;
    background-image: url("../../../assets/images/hover-photo.png");
  }

  mat-divider{
    width: 95%;
  }

  td{
    padding: 0 5px 0 5px;
  }

  fieldset{
    margin: 10px; 
    background-color: #FF0266;
    border: color(#FF0266);
  }

  legend{
    color: white;
    font-size: large;
    padding: 5px;
    background-color: #3949AB;
    border-radius: 3px;
  }

  footer p{
    padding-right: 10px;
    text-align: right;
    color: #424242;
  }

  mat-grid-tile{
    background-color: #424242;
  }