<div id="sidenav-content">

  <header class="image-container">
    <a routerLink="/">
      <img ngSrc="https://res.cloudinary.com/duyubdgsj/image/upload/v1668937744/assets/logo-social_ococaz.png" 
        alt="" class="avatar" width="120" height="120"/>
    </a>
  </header>

  <nav>
    <a mat-button class="menu-button" routerLink="/home">
      <mat-icon class="example-icon" aria-label="Example icon-button with menu icon">
        home
      </mat-icon>
      Home
    </a>

    <a mat-button class="menu-button" routerLink="/about-us">
      <mat-icon class="example-icon" aria-label="Example icon-button with menu icon">
        info
      </mat-icon>
      About us
    </a>

    <a mat-button class="menu-button" routerLink="/contacts">
      <mat-icon class="example-icon" aria-label="Example icon-button with menu icon">
        contact_page
      </mat-icon>
      Contacts
    </a>
  </nav>

  <mat-divider></mat-divider>

  <article>
    <section>
      <!-- <mat-form-field  class="example-full-width"> -->
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <fieldset>
          <legend>Your first vacation day?</legend>
          <table>
            <tr>
              <td>
                <div class="date-picker">
                  <app-iput-date-picker 
                    [context]="form"
                    [model]="FormModels['DateModel']"
                    [value]="curentDate">
                  </app-iput-date-picker>
                </div>               
              </td>
              <td>
                <button mat-raised-button color="primary">Submit</button>
              </td>
            </tr>
          </table>
        </fieldset>
      </form>
    <!-- </mat-form-field> -->
    </section>
    <footer>
      <p>Grab our offers!</p>
    </footer>
  </article>

  <mat-grid-list cols="3" rowHeight="150px">
    <mat-grid-tile>
      <img ngSrc="https://res.cloudinary.com/duyubdgsj/image/upload/v1670951962/assets/y-txt-here.jpg_z1wfd8.png" width="116" height="170"/>
    </mat-grid-tile>

    <mat-grid-tile>
        <img ngSrc="https://res.cloudinary.com/duyubdgsj/image/upload/v1670951002/assets/you-add-here_b59ylz.jpg" width="116" height="170"/>
    </mat-grid-tile>
                    
    <mat-grid-tile>   </mat-grid-tile>
  </mat-grid-list>
</div>