<div id="sidenav-content">
<img src="https://cdn.logo.com/hotlink-ok/logo-social.png" alt="" class="avatar mat-elavation-z8" />

<a mat-button class="menu-button" routerLink="/home">
  <mat-icon class="example-icon" aria-label="Example icon-button with menu icon">
    home
  </mat-icon>
  Home
</a>

<mat-divider></mat-divider>

<a mat-button class="menu-button" routerLink="/about-us">
  About us
</a>

<mat-divider></mat-divider>

<a mat-button class="menu-button" routerLink="/contacts">
  Contacts
</a>

<mat-divider></mat-divider>
</div>