.menu-button {
  padding: 0 ;
  margin: 0 0.45rem;
  color: #424242;
  font-size: 1.35em;
}

.avatar {
    display: block;
    margin: auto;
    width: 120px;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid #C5CAE9;
  }
  .avatar:hover {
    box-shadow: 0 0 2px 1px #424242;
  }

  .image-container{
    width: 100%;
    padding: 10px 0 60px 0;
    background-image: url("https://res.cloudinary.com/duyubdgsj/image/upload/v1668937727/assets/hover-photo_l7ofej.png");
  }

  mat-divider{
    width: calc(100% - 5px);
  }

  article{
    width: 100%;
  }

  fieldset{
    margin: 10px 10px 0 5px; 
    background-color: #FF0266;
    border: color(#FF0266);
  }

  legend{
    color: white;
    font-size: large;
    padding: 5px;
    background-color: #3949AB;
    border-radius: 3px;
  }

  .date-picker{
    max-width: 205px;
  }

  .date-button{
    margin: 0 0 0 10px;
  }

  footer p{
    padding-right: 10px;
    text-align: right;
    color: #424242;
  }
