<ng-container [formGroup]="contextName">

    <mat-form-field  class="example-full-width" appearance="fill">
        <mat-label> {{inputLabel}} </mat-label>
        <input #input type="{{inputType}}" matInput placeholder="{{inputLabel}}" 
        formControlName="{{inputName}}"/>
        <mat-hint align="end">
            Characters {{input.value.length || 0}}
        </mat-hint>
    </mat-form-field>
   
    <mat-error 
      class="example-full-width" 
      *ngIf="contextName.get(inputName)?.errors 
      && contextName.get(inputName)?.touched">

        <ng-container *ngFor="let error of inputErrors">
          <mat-error *ngIf="contextName.get(inputName)?.errors?.[error.name]">
            <strong>{{error.message}}</strong>
          </mat-error>
        </ng-container>

    </mat-error>
  </ng-container>
