<mat-card class="card-decoration">
    
    <article class="offer-container" >

        <div class="col">                
            <header class="header">
                <h3>Contact us today to discuss.</h3>
             </header>
 
            <figure class="image-container">
                <img src="https://res.cloudinary.com/duyubdgsj/image/upload/v1670750668/assets/wellcome-image_laqgao.png" 
                    width="300" height="300">
            </figure>     
        </div>

        <div class="col">
            <span class="verticle-spacer"></span>
            <p>
                <b>Monday - Friday</b> 
                &nbsp;|&nbsp;  9:00 - 17:30
            </p>  
        <mat-divider></mat-divider>
        <span class="verticle-spacer"></span>  
        <p>
            <mat-icon>
                <span class="material-icons-outlined">
                support_agent
                </span>
            </mat-icon>
            <b>&nbsp; call:</b>&nbsp;  +359 888 888 &nbsp;|&nbsp; +359 888 887
        </p>
        <mat-divider></mat-divider>
        <span class="verticle-spacer"></span>  
        <p>
            <mat-icon>
                <span class="material-icons-outlined">
                email
                </span>
            </mat-icon>
            <b>&nbsp; send:</b>&nbsp; info@offers-app.onrender.com
        </p>
        <mat-divider></mat-divider>
        </div>

    </article>
</mat-card>