<mat-card class="card-decoration">

    <form [formGroup]="form" class="example-form" (ngSubmit)="actionForm()" enctype="multipart/form-data" method="POST">

        <app-input-element [context]="form" [model]="FormModels['TitleModel']">
        </app-input-element>

        <app-img-upload [context]="form" [model]="FormModels['ImgModel']" (image)="onImageSelected($event)">
        </app-img-upload>

        <ng-container *ngIf="uploadVisibility; else updateButton">

            <button mat-button 
                class="menu-button red" 
                (click)="upload()">
                Upload image
        
                <mat-icon 
                    class="example-icon" 
                    aria-label="Example icon-button with menu icon">
                    upload
                </mat-icon>       
            </button>
        
            </ng-container>
        
        <ng-template #updateButton>
        
            <figure class="image-container">
                <img [src]="uploadImage" id="upload-image" />
            </figure>
            
            <button mat-button 
                class="menu-button red" 
                (click)="cancel()">
        
                <mat-icon class="example-icon" 
                    aria-label="Example icon-button with menu icon">
                    cancel
                </mat-icon>
        
            </button>
        
        </ng-template>

        

            <app-description [context]="form" [model]="FormModels['DescriptionModel']">
            </app-description>
      
        <mat-card-actions id="button-container">
            <button mat-raised-button color="primary" [disabled]="form.invalid">
                Submit
            </button>
        </mat-card-actions>

    </form>
</mat-card>