
<mat-card class="card-decoration">

    <form [formGroup]="form" 
          class="example-form" 
          (ngSubmit)="actionForm()" 
          enctype="multipart/form-data" 
          method="POST">

    <app-input-title [inputTitle]="form"></app-input-title>
    <app-image-upload [uploadImage]="form"></app-image-upload>

    <mat-card-actions id="button-container">
        <button mat-raised-button color="primary" [disabled]="form.invalid">Submit</button>
    </mat-card-actions>
    </form>
</mat-card>