<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <a mat-icon-button routerLink="/" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    Home
  </a>
  <span class="smal-spacer"></span>
  <a mat-icon-button routerLink="/contacts" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    Contacts
  </a>
  <span class="example-spacer"></span>

  <ng-template #anonymous>
    <a mat-icon-button routerLink="/register" class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon">
      Register
    </a>
    <span class="smal-spacer"></span>
    <a mat-icon-button routerLink="/login" class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon">
      LogIn
    </a>
  </ng-template>

  <ng-template #user>
    <!-- <span>{{userName}}</span> -->
    <mat-icon>person</mat-icon>
    <span class="smal-spacer"></span>
    <a mat-icon-button routerLink="/logout" class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon">
      LogOut
    </a>
    <span class="smal-spacer"></span>
  </ng-template>

  <ng-container *ngTemplateOutlet="isUser ? user : anonymous"></ng-container>
  
</mat-toolbar>