<!-- {{form.valid | json}}
<br>
{{ form.get('repeatPass')?.errors | json}} -->
<mat-card class="card-decoration">
    
    <h3>Register form!</h3>

    <form [formGroup]="form" class="example-form" (ngSubmit)="signIn()">

        <div class="form-input-container">

            <mat-form-field class="example-full-width" appearance="fill">

                <mat-label>@Email</mat-label>
                <input matInput #email placeholder="@Email" formControlName="email">
                <mat-hint align="end">Min length 6 characters {{email.value?.length || 0}}</mat-hint>

            </mat-form-field>

            <mat-error *ngIf="form.get('email')?.errors && form.get('email')?.touched">

                <mat-error *ngIf="form.get('email')?.errors?.['required']">
                    @Email is <strong>required!</strong>
                </mat-error>

                <mat-error *ngIf="form.get('email')?.errors?.['pattern']">
                    @Email is <strong> not valid!</strong>
                </mat-error>

            </mat-error>
        </div>


        <div class="form-input-container">  

        <mat-form-field class="example-full-width" appearance="fill">

            <mat-label>Password</mat-label>
            <input matInput #password placeholder="Password" formControlName="password">
            <mat-hint align="end">Min length 4 characters {{password.value?.length || 0}}</mat-hint>

        </mat-form-field>

        <mat-error *ngIf="form.get('password')?.errors && form.get('password')?.touched">

            <mat-error *ngIf="form.get('password')?.errors?.['required']">
                Password is <strong>required!</strong>
            </mat-error>

            <mat-error *ngIf="form.get('password')?.errors?.['minlength']">
                Password min length <strong>4 characters!</strong>
            </mat-error>

        </mat-error>

        </div>
        
        <mat-card-actions class="form-input-container">
            <button mat-raised-button color="primary" [disabled]="form.invalid">Submit</button>
        </mat-card-actions>

    </form>

</mat-card>

