<mat-card class="card-decoration">

    <!-- <form [formGroup]="form" 
          class="example-form" 
          (ngSubmit)="actionForm()" 
          enctype="multipart/form-data" 
          method="POST">

    <app-input-element 
        [context] ="form"
           [model]="titleModel">
    </app-input-element>

    <app-image-upload 
        [context]="form">
    </app-image-upload>
    <app-description 
        [context]="form"
          [model]="descriptionModel">
    </app-description>

    <mat-card-actions id="button-container">
        <button mat-raised-button 
            color="primary" 
            [disabled]="form.invalid">
            Submit
        </button>
    </mat-card-actions>
    </form> -->
</mat-card>