
<mat-card class="card-decoration">
    <div >
        <h3>Register form!</h3>

        <form [formGroup]="form" (ngSubmit)="signUp()">

        <app-input-element
            [contextName]="form"
             [inputModel]="nameModel"
            [inputErrors]="nameModel.errors">
        </app-input-element>

        <app-input-element
            [contextName]="form"
             [inputModel]="emailModel"
            [inputErrors]="emailModel.errors">
        </app-input-element>

        <app-input-element
            [contextName]="form"
             [inputModel]="passwordModel"
            [inputErrors]="passwordModel.errors">
        </app-input-element>

        <app-input-element
            [contextName]="form"
             [inputModel]="repeatPasswordModel"
            [inputErrors]="repeatPasswordModel.errors">
        </app-input-element>

        <app-input-country-code 
            [inputCountryCode]="form">
        </app-input-country-code> 

        <app-input-element
            [contextName]="form"
             [inputModel]="phoneModel"
            [inputErrors]="phoneModel.errors">
        </app-input-element>
            

            <mat-card-actions id="button-container">
                <button mat-raised-button color="primary" [disabled]="form.invalid">Submit</button>
            </mat-card-actions>

        </form>

        <p color="primary">Already have an account? <a mat-button (click)="goTo()">Log in here</a></p>
    </div>
</mat-card>