
<mat-card class="card-decoration">
    <div >
        <h3>Register form!</h3>

        <form [formGroup]="form" (ngSubmit)="signUp()">

        <app-input-element
            [contextName]="form"
              [inputName]="nameModel.elementName"
             [inputLabel]="nameModel.elementLabel"
            [inputErrors]="nameModel.errors">
        </app-input-element>

        <app-input-element
            [contextName]="form"
              [inputName]="emailModel.elementName"
             [inputLabel]="emailModel.elementLabel"
              [inputType]="emailModel.elementType"
            [inputErrors]="emailModel.errors">
        </app-input-element>

        <app-input-element
            [contextName]="form"
              [inputName]="passwordModel.elementName"
             [inputLabel]="passwordModel.elementLabel"
              [inputType]="passwordModel.elementType"
            [inputErrors]="passwordModel.errors">
        </app-input-element>

        <app-input-element
            [contextName]="form"
              [inputName]="repeatPasswordModel.elementName"
             [inputLabel]="repeatPasswordModel.elementLabel"
              [inputType]="repeatPasswordModel.elementType"
            [inputErrors]="repeatPasswordModel.errors">
        </app-input-element>

        <app-input-country-code 
            [inputCountryCode]="form">
        </app-input-country-code> 

        <app-input-element
            [contextName]="form"
              [inputName]="phoneModel.elementName"
             [inputLabel]="phoneModel.elementLabel"
              [inputType]="phoneModel.elementType"
            [inputErrors]="phoneModel.errors">
        </app-input-element>
            

            <mat-card-actions id="button-container">
                <button mat-raised-button color="primary" [disabled]="form.invalid">Submit</button>
            </mat-card-actions>

        </form>

        <p color="primary">Already have an account? <a mat-button (click)="goTo()">Log in here</a></p>
    </div>
</mat-card>