<mat-card class="card-decoration">
    <div class="form-container">
        <h3>Register form!</h3>

        <form [formGroup]="form" class="example-form" (ngSubmit)="signUp()">

            <app-input-name [inputName]="form"></app-input-name>

            <app-input-email [inputEmail]="form"></app-input-email>

            <app-input-password [inputPassword]="form"></app-input-password>

            <app-input-repeat-password [inputReapeatPassword]="form"></app-input-repeat-password>

            <app-input-country-code [inputCountryCode]="form"></app-input-country-code>    

            <app-input-phone [inputPhone]="form"></app-input-phone>

            <mat-card-actions id="button-container">
                <button mat-raised-button color="primary" [disabled]="form.invalid">Submit</button>
            </mat-card-actions>

        </form>

        <p color="primary">Already have an account? <a mat-button (click)="goTo()">Log in here</a></p>
    </div>
</mat-card>